.align-right {
     position: relative;
     text-align: right;
}
 .myLogo {
     max-height: 60px;
     position: static;
     padding-top: -120px;
}
 .btn-square {
     border-radius: 0px !important;
     color: white;
     background-color: gray;
     border-color: #357ebd;
}
 .whitebg {
     background-color: white !important;
}
 .greybg {
     background-color: #909090;
     color: #fff;
}
 .navbar {
     background-color: #AD0303 !important;
}
 .introText {
     font-family: sans-serif !important;
     font-size: 16pt !important;
}
 body {
     background-color: #bcbcbc !important;
}
 .blackText {
     color: black !important;
}
 #success_message {
     display: none;
}
 .btn-warning {
     color: AD0303 !important;
}
 .navbar-bottom {
     color: white;
}
 .iconSize {
     max-height: 40px;
}
